streamlit
lancedb
sentence-transformers
langchain
langchain-groq
docling
pandas
numpy
langchain-core
langchain-community
python-docx
pypdf2
altair
python-dotenv
langchain-openai
ftfy
psutil
scikit-learn

fastapi==0.104.1
uvicorn[standard]==0.24.0
pydantic==2.5.0
python-multipart==0.0.6
